.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .button{
    align-self: flex-end center;
  }
  
  .labels{
    text-align: left;
    padding-right: 15px;
  }
  
  .inputs{
  
  }
  
  .events{
    padding: 15px;
    text-align: left;
  }
  
  .eventItem{
    padding-bottom:15px;
  }
  
  .eventHeader{
    border-bottom: 1px solid grey;
  }
  
  .buttons{
    float: right;
  }

  .eventList-header{
      text-align: left;
      margin-left:25.5%;
      margin-right:25.5%;
      font-size: 25px;
      
  }

  .blogtoEventItem{
    padding-bottom: 25px;
  }

  .eventList {
    margin-top: 25%;
  }